/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    /* background-color: linear-gradient(rgb(255,0,0),rgb(255,100,0),rgb(255,150,0),rgb(255,200,0)); */
    background: linear-gradient(#3b0f0f, #283cc2,#bb4949,#A234D3,#555121);
}

header {
    background-color: #3e3c71;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin-left:40%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    font-size:1.5rem;
    text-decoration: none;
    color: #f1efef;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
nav ul li a:hover{
    /* text-decoration: none; */
    color: #e42cbc;
}

.hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.features {
    font-family:sans-serif;
    font-size: 2.2dvh;
    display: flex;
    justify-content: space-around;
    /* padding-top: 30px; */
    padding-bottom: 30px;
    /* background-color: #250bbc; */
    background: linear-gradient(rgb(31, 172, 38));
}
    .features h3{
        color: #000301;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .features p{
        color: #fdfffe;
        font-family:Arial, Helvetica, sans-serif;
    }

.feature {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}
img{    
    width: 100%;
    height: 51vw;
}
.codes h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(190, 229, 32);
}
.dia{
    color: #000301;
}
.codes p{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    color: #f1efef;
}
.total{
    padding: 3%;
}